<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accueil - Simulateur Savon</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style/style.css">
</head>

<body>

<header>
    <h1>🧼 Fabrication de Savon</h1>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="ingredients.html">Ingrédients</a>
        <a href="recette.html">Procédé</a>
        <a href="simulation.html">Simulation</a>
    </nav>
</header>

<section class="container">
    <h2>Bienvenue</h2>
    <p>Ce site permet de simuler et documenter la fabrication du savon par saponification à froid.</p>
</section>

</body>
</html>

