<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recette</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../style/style.css">
</head>
<body>

<header>
    <h1>Procédé de Fabrication</h1>
    <nav>
        <a href="index.html">Accueil</a>
        <a href="ingredients.html">Ingrédients</a>
        <a href="recette.html">Procédé</a>
        <a href="simulation.html">Simulation</a>
    </nav>
</header>

<section class="container">
    <h2>Étapes</h2>

    <ol id="etapes">
        <li>Peser les huiles</li>
        <li>Préparer la solution de soude</li>
        <li>Mélanger jusqu'à la trace</li>
        <li>Verser dans le moule</li>
        <li>Laisser curer 4-6 semaines</li>
    </ol>

    <button onclick="alerteSecurite()">Rappel Sécurité</button>
</section>

<script src="script.js"></script>
</body>
</html>